.card{
    width:40%;
    margin: 30px auto;
    padding:40px 40px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#show_payment_card{
    width: 70%;
}

#paypal{
    display: none;
}

#credit_card{
    display: none;
}

#update_credit_card{
    display: none;
}

#update_paypal{
    display: none;
}


hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.error {
    width:40%;
    display: none;
    margin: 0 auto;
}

.success{
    width:40%;
    display: none;
    margin: 0 auto;
}